@import "tailwindcss";
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background-color: #111827; /* Tailwind's gray-900 */
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563; /* Tailwind's gray-600 */
}
html {
    scroll-behavior: smooth;
}
.swiper-slide {
  opacity: 0.4;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}
.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  z-index: 10;
}
.swiper-pagination-bullet {
  position: relative;
  top: 10px;
  background-color: #d1d5db; 
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #9f6b4a !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: #9f6b4a !important; 
  width: 25px;
  height: 25px;
  font-weight: bolder;
  border-radius: 50%;
  top: 45%; 
  transition: transform 0.3s ease;
  z-index: 10;
}

/* Hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.4);
}
